*.db
*.opendb
tuiframework/cpp/tuibins/tuipythonclient/
tuiframework/cpp/tuilibs/opc/
tuiframework/cpp/x86/
tuiframework/python/build/
tuiframework/unity3d/UnityProject/Library/
tuiframework/unity3d/TUIUnityInterface/Debug/
*.suo
tuiframework/cpp/x64/Debug/
tuiframework/cpp/x64/Release/TUIBinTUIClientVRED/TUIBinTU.52F7C011.tlog/CL.command.1.tlog
tuiframework/cpp/x64/Release/TUIBinTUIClientVRED/TUIBinTU.52F7C011.tlog/TUIBinTUIClientVRED.lastbuildstate
tuiframework/cpp/x64/Release/TUIBinTUIClientVRED/TUIBinTU.52F7C011.tlog/unsuccessfulbuild
tuiframework/cpp/x64/Release/TUIBinTUIClientVRED/TUIBinTUIClientVRED.log
tuiframework/cpp/x64/Release/TUIBinTUIClientVRED/TUIBinTUIClientVRED.vcxprojResolveAssemblyReference.cache
tuiframework/cpp/x64/Release/TUIBinWinModClient/TUIBinWi.1C7D3ABE.tlog/CL.command.1.tlog
tuiframework/cpp/x64/Release/TUIBinWinModClient/TUIBinWi.1C7D3ABE.tlog/TUIBinWinModClient.lastbuildstate
tuiframework/cpp/x64/Release/TUIBinWinModClient/TUIBinWi.1C7D3ABE.tlog/unsuccessfulbuild
tuiframework/cpp/x64/Release/TUIBinWinModClient/TUIBinWinModClient.log
tuiframework/cpp/x64/Release/TUIBinWinModClient/TUIBinWinModClient.vcxprojResolveAssemblyReference.cache
tuiframework/cpp/x64/Release/TUIBinXControllerClient/TUIBinXC.20167883.tlog/TUIBinXControllerClient.lastbuildstate
tuiframework/cpp/x64/Release/TUIBinXControllerClient/TUIBinXControllerClient.log
tuiframework/cpp/x64/Release/TUILibWinMod/TUILibWinMod.log
tuiframework/cpp/x64/Release/TUILibWinMod/TUILibWinMod.tlog/CL.command.1.tlog
tuiframework/cpp/x64/Release/TUILibWinMod/TUILibWinMod.tlog/TUILibWinMod.lastbuildstate
tuiframework/cpp/x64/Release/TUILibWinMod/TUILibWinMod.tlog/unsuccessfulbuild
tuiframework/cpp/x64/Release/TUILibWinModDLL/TUILibWinModDLL.log
tuiframework/cpp/x64/Release/TUILibWinModDLL/TUILibWinModDLL.obj
tuiframework/cpp/x64/Release/TUILibWinModDLL/TUILibWinModDLL.tlog/CL.command.1.tlog
tuiframework/cpp/x64/Release/TUILibWinModDLL/TUILibWinModDLL.tlog/CL.read.1.tlog
tuiframework/cpp/x64/Release/TUILibWinModDLL/TUILibWinModDLL.tlog/CL.write.1.tlog
tuiframework/cpp/x64/Release/TUILibWinModDLL/TUILibWinModDLL.tlog/TUILibWinModDLL.lastbuildstate
tuiframework/cpp/x64/Release/TUILibWinModDLL/TUILibWinModDLL.tlog/unsuccessfulbuild
tuiframework/cpp/x64/Release/TUILibWinModDLL/TUILibWinModDLL.vcxprojResolveAssemblyReference.cache
tuiframework/cpp/x64/Release/TUILibWinModDLL/dllmain.obj
tuiframework/cpp/x64/Release/TUILibWinModDLL/stdafx.obj
tuiframework/cpp/x64/Release/TUILibXController/TUILibXC.AB68CE04.tlog/CL.command.1.tlog
tuiframework/cpp/x64/Release/TUILibXController/TUILibXC.AB68CE04.tlog/TUILibXController.lastbuildstate
tuiframework/cpp/x64/Release/TUILibXController/TUILibXC.AB68CE04.tlog/unsuccessfulbuild
tuiframework/cpp/x64/Release/TUILibXController/TUILibXController.log
tuiframework/cpp/x64/Release/TUILibXControllerDLL/TUILibXC.5433DE32.tlog/CL.command.1.tlog
tuiframework/cpp/x64/Release/TUILibXControllerDLL/TUILibXC.5433DE32.tlog/CL.read.1.tlog
tuiframework/cpp/x64/Release/TUILibXControllerDLL/TUILibXC.5433DE32.tlog/CL.write.1.tlog
tuiframework/cpp/x64/Release/TUILibXControllerDLL/TUILibXC.5433DE32.tlog/TUILibXControllerDLL.lastbuildstate
tuiframework/cpp/x64/Release/TUILibXControllerDLL/TUILibXC.5433DE32.tlog/unsuccessfulbuild
tuiframework/cpp/x64/Release/TUILibXControllerDLL/TUILibXControllerDLL.log
tuiframework/cpp/x64/Release/TUILibXControllerDLL/TUILibXControllerDLL.obj
tuiframework/cpp/x64/Release/TUILibXControllerDLL/TUILibXControllerDLL.vcxprojResolveAssemblyReference.cache
tuiframework/cpp/x64/Release/TUILibXControllerDLL/dllmain.obj
tuiframework/cpp/x64/Release/TUILibXControllerDLL/stdafx.obj
