/* CSS declarations go here */

body {
    margin: 0px;
}

#navbar {
    font-family: 'Maven Pro';
    background: #0099FF;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    height: 200px;
    width: 1000px;
    #width: 100%;
    #max-width: 1000px;
    z-index: 3;
}

#navbar table {
    width:100%;
    height:100%;
}

#vrsession-title {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    color: white;

    font-size: 50pt;
}

#offsetheader {
    left: 0px;
    top: 0px;
    height: 200px;
}

#tuiObjectArray {
    font-family: 'Maven Pro';
    top: 200px;
}

.TUIObject-Header {
    width: 1000px;
}

.TUIObject-Content {
    width: 1000px;
}

.TUIObject-Header > table {
    border-spacing: 0px;
}

.TUIObject-Header > table > tr {
    height: 100px;
}

.TUIObject-Header > table > tr > td:nth-child(1) {
    width: 320px;
    vertical-align: middle;
    padding: 0px;
}

.TUIObject-Header > table > tr > td:nth-child(2) {
    width: 400px;
    vertical-align: middle;
    padding: 0px;
}

.TUIObject-Header > table > tr > td:nth-child(3) {
    width: 70px;
    vertical-align: middle;
    text-align: center;
}

.TUIObject-Header > table > tr > td:nth-child(4) {
    width: 70px;
    vertical-align: middle;
    text-align: center;
}

.TUIObject-Header > table > tr > td:nth-child(5) {
    width: 70px;
    vertical-align: middle;
    text-align: center;
}

.TUIObject-Header > table > tr > td:nth-child(6) {
    width: 70px;
    vertical-align: middle;
    text-align: center;
}

.TUIObject-Selected {
    background: black;
    color: white;
}


.TUIObject-Content {
    margin: 0px;
}

.TUIObject-Content table {
    width: 100%
}


.TUIObject-Content th, .TUIObject-Content td {
    text-align: left;
    padding-right: 20px;
    padding-top: 15px;
}

h2 {
    margin: 5px;
}

h3 {
    margin: 5px;
}

/*
.outerbox {
    border: 1px gray solid;
    border-radius: 50px;
    padding: 1px;
    border-color: #000000;
}
*/

.ui-slider.ui-slider-handle {
    margin: 5px;
    border-radius: 50px;
    font-size: 1em;
}


.ui-state-focus:focus {
    outline:none
}


.ui-slider, .ui-slider-range {
    border-radius: 50px;

}

.ui-widget.ui-widget-content {
    border-radius: 50px;
    font-size: 1.5em;
}

.ui-slider-horizontal .ui-slider-handle {
    //margin-left: -1.5em;
    margin-top: 0.1em;
    border-radius: 50px;
    font-size: 1.0em;
    z-index: 1;
}


.AnalogChannelSlider .ui-widget-header {
    background-color: #FC9804;
}

label.ui-button.ui-widget.ui-state-default.ui-button-text-only {
    border-radius: 50px;
}

label.ui-button.ui-widget.ui-state-default.ui-button-text-only > span {
    font-size: 0.8em;
}




div#start {
    width: 100%;
}

div#start > h1 {
    text-align: center;
}

#start > table > tbody   td:nth-child(1) {
    width: 200px;
}


input,textarea {
    width: 100%;
    overflow-x: hidden;
    resize: horizontal;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
}

#start div.connectionState {
    padding-top: 11px;
}

#start div.button {
    padding-top: 11px;
    padding-bottom: 11px;
}

#start button {
    left: 0;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;

}

#start table {
    align-items:center;
    vertical-align: middle;
    valign: center;
    padding: 20px;
    width: 100%;
}

#initial-settings {
    margin: 5px;
    padding-left: 16px;
    padding-right: 16px;
}