/* CSS declarations go here */

.outerbox {
    border: 1px gray solid;
    border-radius: 50px;
    padding: 1px;
    border-color: #000000;
}

.ui-slider, .ui-slider-handle {
    margin: 30px;
    border-radius: 50px;
    font-size: 1em;
}

.ui-slider.ui-slider-handle {
    margin: 5px;
    border-radius: 50px;
    font-size: 2em;
}


.ui-state-focus:focus {
    outline:none
}

.ui-slider, .ui-slider-range {
    border-radius: 50px;

}

.ui-widget.ui-widget-content {
    border-radius: 50px;
    font-size: 3em;
}

.ui-slider-horizontal .ui-slider-handle {
//margin-left: -1.5em;
    margin-top: 0.1em;
    border-radius: 50px;
    z-index: 1;
}


.mycol1 .ui-widget-header {
    background-color: #FC9804;
}

.mycol2 .ui-widget-header {
    background-color: #009804;
}

