/* CSS declarations go here */

body {
    margin: 0px;
}

#navbar {
    width: 100%;
    position: fixed;
    background: #0099FF;
    top: 0px;
    left: 0px;
    margin: 0px;
    height: 200px;
    z-index: 3;
}

#navbar > table {
    font-family: 'Maven Pro';
    width: 1000px;
    height: 200px;
    position: fixed;
    margin-left: 40px;
    #width: 100%;
    #max-width: 1000px;
}

input[type=text]#tuiobject-search {
    width: 260px;
    padding: 5px;
    padding-left: 12px;
    border: 2px solid #60B9FF;
    border-radius: 50px;
    font-family: 'Maven Pro';
    font-size: 20px;
}

#vrsession-title {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    color: white;
    font-size: 50pt;
}

#offsetheader {
    left: 0px;
    top: 0px;
    height: 200px;
}

#tuiObjectArray {
    font-family: 'Maven Pro';
    top: 200px;
}

.TUIObject-Header {
    width: 100%;
}

.TUIObject-Header > table {
    border-spacing: 0px;
    width: 1000px;
    margin-left: 40px;
    height: 100px;
}

.TUIObject-Header > table > tr > td:nth-child(1) {
    width: 320px;
    vertical-align: middle;
    padding: 0px;
}

.TUIObject-Header > table > tr > td:nth-child(2) {
    width: 400px;
    vertical-align: middle;
    padding: 0px;
}

.TUIObject-Header > table > tr > td:nth-child(3) {
    width: 70px;
    vertical-align: middle;
    text-align: center;
}

.TUIObject-Header > table > tr > td:nth-child(4) {
    width: 70px;
    vertical-align: middle;
    text-align: center;
}

.TUIObject-Header > table > tr > td:nth-child(5) {
    width: 70px;
    vertical-align: middle;
    text-align: center;
}

.TUIObject-Header > table > tr > td:nth-child(6) {
    width: 70px;
    vertical-align: middle;
    text-align: center;
}

.TUIObject-Content {
    width: 100%;
}

.TUIObject-Content > table {
    border-spacing: 0px;
    width: 1000px;
    margin-left: 40px;
}

div.TUIObject-Content > table > tr {
    height: 80px;
}

div.TUIObject-Content > table > tr > td:nth-child(1) {
    width: 320px;
}

div.TUIObject-Content > table > tr > td:nth-child(2) {
    width: 680px;
}

.TUIObject-Selected {
    background: black;
    color: white;
}

.ui-state-focus:focus {
    outline:none
}

.ui-slider, .ui-slider-range {
    border-radius: 50px;
}

div.ui-slider {
    background: black;
}

.ui-widget.ui-widget-content {
    border-radius: 50px;
    font-size: 1.5em;
}

.ui-slider-horizontal .ui-slider-handle {
    //margin-left: -1.5em;
    margin-top: 0.25em;
    border-radius: 50px;
    font-size: 0.65em;
    z-index: 1;
}


.AnalogChannelSlider .ui-widget-header {
    background-color: lawngreen;

}

label.ui-button.ui-widget.ui-state-default.ui-button-text-only {
    border-radius: 50px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: lightgray;
    background-color: black;
    border-color: lightgray;
}


label.ui-button.ui-widget.ui-state-default.ui-button-text-only[aria-pressed="true"] {
    background-color: #0099FF;
    border-color: gray;
    color: black;
}


label.ui-button.ui-widget.ui-state-default.ui-button-text-only.ui-button-disabled.ui-state-disabled {
    opacity: 0.8;
}

label.ui-button.ui-widget.ui-state-default.ui-button-text-only.ui-button-disabled.ui-state-disabled.ui-state-active {
    background-color: #0099FF;
    border-color: gray;
    color: black;
}

label.ui-button.ui-widget.ui-state-default.ui-button-text-only > span {
    font-size: 0.8em;
}

div#start {
    width: 100%;
}

div#start > h1 {
    text-align: center;
}

#start > table > tbody   td:nth-child(1) {
    width: 200px;
}

input,textarea {
    width: 100%;
    overflow-x: hidden;
    resize: horizontal;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
}

#start div.connectionState {
    padding-top: 11px;
}

#start div.button {
    padding-top: 11px;
    padding-bottom: 11px;
}

#start button {
    left: 0;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;

}

#start table {
    align-items:center;
    vertical-align: middle;
    valign: center;
    padding: 20px;
    width: 100%;
}

#initial-settings {
    margin: 5px;
    padding-left: 16px;
    padding-right: 16px;
}